
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#top-empty-space {
    top:0;
    margin: 0;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
}
.banner {
    position: fixed;
    top:0;
    margin: 0;
    width: 100%;
    z-index: 99 !important;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 50px;
    max-height: 50px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}

.nav {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

.post {
    max-width: 640px;
    overflow: hidden;
    margin: 30px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
}

.post-title {
    padding: 20px 40px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.post-pushlished-time {
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 4px;
    padding: 0px;
    position: relative;
    /* text-size-adjust: 100%; */
    vertical-align: baseline;
    color: rgba(26, 25, 25, 0.452);
    align-items: stretch;
}
.post-box {
    overflow: hidden;
    /* display: inline-block; */
    margin: auto 0;
    padding: 0;
    border: 0;
    width: 100%;
}
.post-comments-box {
    border-right: 1px inset rgba(0,0,0,.0975);
    /* border-style: inset */
}
.post-comments-box, .post-likes-box {
    overflow: hidden;
    width: 49.9%;
    vertical-align: top;
    display: inline-block;
    border-top: 1px solid rgba(0,0,0,.0975);
    border-bottom: 1px solid rgba(0,0,0,.0975);
    text-align: center;
    padding: 0;
    font-size: 20px;
    margin: 0;
    cursor: pointer;
}
.post-likes-num, .post-comments-num {
    font-size: 12px;
    font-weight: 600;
}
.comments-icon, .likes-icon, .login-icon, .upload-icon {
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    text-align: center;
}
.post-thumb {
    margin: 0;
    padding: 3px;
    width: 150px;
    height: 150px;
    border: 2px solid snow;
}

.post-image {
    width: 640px;
    height: 640px;
}

@media screen and (max-width: 500px) {
    .post {
        border: none;
        border-bottom: 1px solid rgba(0,0,0,.0975);
        border-top: 1px solid rgba(0,0,0,.0975); 
        max-height: 60vh;
    }

    .post-image {
        max-width: 100%;
        max-height: 60vh;
    }

    #feed > * {
        flex: 1 1 45%;
        height: auto;
    }
}
#logo-icon {
    cursor: pointer;
}
#login_form, #reigster_form {
    max-width: 640px;
    min-width: 440px;
    overflow: hidden;
    margin: 30px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
    margin-left: 24%;
    margin-right: 24%;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
}
#login_form {
    height: 350px;
}
#reigster_form {
    height: 450px;
}
#login_form > * >input[type=text], #login_form > * > input[type=password], 
#reigster_form > * >input[type=text], #reigster_form > * > input[type=password],
#reigster_form > * > input[type=email] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 2%;
}
#login_form > h1 , #reigster_form > h1{
    text-align: center;
}
input[type=text], input[type=password] {
    outline-width: 0;
}
#login_form > button, #reigster_form > button{
    background-color: rgb(48, 135, 250);
    border: none;
    border-radius: 5%;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    width: 80px;
}
.post-form > button {
    margin-top: 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5%;
    color: white;
    cursor: pointer;
    width: 80px;
}
button:hover {
    opacity: 0.8;
}
#user-event-nav {
    width: 350px;
    display: inline-block;
    padding: 0;
    text-align: right;
}
#upload-event {
    /* width: 350px; */
    max-width: 400px;
    min-width: 350px;
    padding: 0;
    text-align: right;
    display:inline-block;
}
#user-event-nav > .nav-item {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.815);
    color:rgb(17, 15, 15);
    border-radius: 10%;
}
#upload-event > .nav-item {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.815);
    color:rgb(17, 15, 15);
    border-radius: 10%;
}
#login-logout-button, #profile-button, #post-submit-button {
    width:100px; /* or whatever width you want. */
    max-width:100px; /* or whatever width you want. */
    margin:10px;
}
#login-logout-button:hover, #profile-button:hover, #register-button:hover, #register_link:hover, #login_link:hover, #upload-image:hover,
#post-submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
}


#register_link, #login_link {
    text-decoration: none;
    color: rgb(0, 140, 255);
}


.post-post {
    max-width: 640px;
    overflow: hidden;
    text-align: center;
    margin: 30px auto;
    background-color: white;
    border: 1px solid rgba(0,0,0,.0975);
}
.post-form {
    width: 95%;
    text-align: center;
    padding: 20px;
}
#post-textarea {
    resize: none;
    width: 90%;
    font-size: 20px;
    height: 300px;
    border-radius: 3px;
}
.upload-file-field {
    outline-width: 0;
    padding: 10px;
    border-radius: 10px;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    font-size: 15px;
}
.post-submit-button {
    margin-left: 10px;
    height: 45px;
    font-size: 20px;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}
textarea {
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}